.newsletter {
    position: absolute;
    width: 1110px;
    height: auto;
    top: 2595px;
    left: 168px;
    border-radius: 32px;
    padding: 128px 64px 128px 64px;
    gap: 64px;
    background: #FACD4914;
}

.newsletter img {
    position: absolute;
    top: -67px;
    left: -48px;
}

.para{
    width: auto;
    height: auto;
    gap: 32px;
    position: relative;
}
.newsletter .para .first {
    width: 982px;
    height: 28px;
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2em;
    text-align: center;
    color: #F85E9F;
}

.newsletter .para .second {
    width: 982px;
    height: 132px;
    font-size: 55px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 20px;
}

.newsletter .sub{
    position: absolute;
    width: 982px;
    height: 60px;
    gap: 64px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    margin-top: 40px;
}

.sub .inputContainer{
    /* border: 2px solid goldenrod; */
    border-radius: 32px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -25px;
}
.sub .inputContainer .emailIcon{
    margin-left: 50px;
}

.sub .inputContainer input{
    height: 100%;
    width: 655px;
    border: none;
    border-radius: 32px;
}

.sub .inputContainer input::placeholder{
    padding-left: 10px;
}

.sub button{
    width: auto;
    height: 55px;
    border-radius: 32px;
    padding: 32px 64px 32px 64px;
    gap: 16px;
    margin-top: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 23px;
    line-height: 27.6px;
    border: none;
    color: #fff;
    background-color: #5D50C6;
    cursor: pointer;
    outline: none;
}

.sub button:focus
.sub button:active{
    border: none;
    outline: none;
}

.vector img{
    margin-top: 21rem;
    margin-left: 74rem;
}